.cart-ad-img {
    width: 100%;
}

.cart-title {
    padding: 20px;
    font-weight: bold;
}

.cart-product{
    width: 300px;
    margin: 20px;
    border: 1px solid lightgray;
}

.cart-product-detail {
    padding: 10px;
}

.cart-product-img {
    width: 100%;
}

