.product-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    padding: 10px;
    margin: 10px;
}

.carousel-products > .product-card {
    width: 250px;
    height: 600px;
}
.carousel-products .product-card img {
    width: 200px;
}
.product-card img {
    width: 300px;
}
.add-to-cart-button{
    width: 40%;
    margin: 0 auto 5px auto;
    padding: 0.4rem;
    cursor: pointer;
    background-color: #f0c040;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-to-cart-button:hover{
    border: 0.1rem #404040 solid;
}

.product-rating span {
    font-size: 1.3rem;
    color: #f0c040;
    margin: 0.1rem 0.1rem 0.1rem 0;
}
.product-price {
    margin: 5px 0;
    font-weight: bold;
}

.product-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-stars {
    display: flex;
}
