.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29vw;
    height: 600px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid lightgray;
}

.product-card img {
    width: 95%;
    padding: 20px 5px;
}

.add-to-cart-button{
    width: 100%;
    margin: 0 auto 5px auto;
    padding: 0.4rem;
    cursor: pointer;
    background-color: #f0c040;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-to-cart-button:hover{
    border: 0.1rem #404040 solid;
}

.product-rating span {
    font-size: 1.3rem;
    color: #f0c040;
    margin: 0.1rem 0.1rem 0.1rem 0;
}
.product-price {
    margin: 5px 0;
    font-weight: bold;
}

.product-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-stars {
    display: flex;
}

.product-description p{
    font-size: 1.1rem;
    font-weight: bolder;
}

@media(max-width: 760px){
    .product-card {
        width: 42vw;
    }
}