.cart{
    background-color: white;
    height: 100%;
    display: flex;
}

.cart > * {
    margin: 20px 10px;
}
.cart-left-side {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-ad-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.cart-title {
    padding: 20px;
    font-weight: bold;
    border-bottom: 0.1rem solid lightgray;
}


.cart-product{
    display: flex;
    background-color: white;
    width: 500px;
}

.cart-product-detail {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-img {
    width: 250px;
    margin-right: 100px;
}

.checkout {
    margin-left: 20px;
    background-color: rgb(234,237,237);
    padding: 20px;
    height: 18vh;
    width:  350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-discount-input{
    height: 50px;
    width: 400px;
    border: 1px #a4a4a4 solid;
    font-size: 1.2rem;
    margin-top: 40px;
}
.cart-discount-input input {
    width: 70%;
    height: 100%;
    padding: 0.4rem;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cart-discount-input button {
    background-color: #F9BD69;
    border: none;
    height: 100%;
    width: 30%;
    padding: 0.4rem;
}

.cart-left-side .button {
    width: 240px;
}