.cart{
    background-color: white;
    height: 100%;
    display: flex;
}

.cart > * {
    margin: 20px 10px;
}
.cart-left-side {
    width: 70%;
    height: 100%;
}

.cart-ad-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.cart-title {
    padding: 20px;
    font-weight: bold;
    border-bottom: 0.1rem solid lightgray;
}

.cart-product{
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.cart-product-detail {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-product-img {
    width: 250px;
}

.checkout {
    margin-left: 20px;
    background-color: rgb(234,237,237);
    padding: 20px;
    height: 18vh;
    width:  350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


