.payment-page {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 20px;
}
.payment-details {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}
.address-book {
    border-bottom: 3px solid rgba(211, 211, 211, 0.8);
}
.address-book,.payment-method {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
}

.title {
    display: flex;
    align-items: center;
}
.a-logo {
    width: 90px;
}
.content {
    margin: 10px 0;
    padding: 20px;
}
.payment-page .cart-product{
    background-color: white;
    width: 250px;
    flex-direction: column;
}

.payment-page .cart-product button{
    display: none;
}

.payment-method-content {
    width: 100%;
}

.payment-button {
    margin: 35px 0;
    width: 40%;
}