.page {
    width:90vw;
    margin: 0 auto;
}
.home-carousel {
    height: 300px;
    margin-bottom: 200px;
}
.each-slide {
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.1));
}

.each-slide img {
    object-fit: contain;
}

.home-body{
    width: 100%;
    z-index: 1;
    margin: 0 auto 5px auto;
}

.route-tr-link {
    margin: -200px auto 0 auto;
    text-align: center;
    font-size: 13px;
    height: 40px;
    width: 89%;
    background-color: white;
    padding: 10px;
}
.home-iframe-row {
    width: 100%;
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    align-items: center;
}

.home-iframe{
    margin: 0 20px;
    width: 30vw;
    height: 32vh;
}

.iframe-row-img{
    height: 32vh !important;
    object-fit: cover;
    width: 30vw;
}

.home-products-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media(max-width:720px){
    .home-products-row {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width: 1200px){
    .home-products-row {
        grid-template-columns: repeat(4,1fr);
    }
}
